proxy-providers:
  airport:
    type: http
    url: ""
    path: ./proxies/airport.yaml
    interval: 3600
    proxy: DIRECT
    health-check:
      enable: true
      url: http://connectivitycheck.platform.hicloud.com/generate_204
      interval: 300
      timeout: 5000

mixed-port: 7890
redir-port: 7891
tproxy-port: 7892
allow-lan: true
mode: rule
log-level: info
ipv6: true
keep-alive-idle: 15
keep-alive-interval: 15
disable-keep-alive: false
find-process-mode: off
external-ui: ui
external-ui-url: https://ghfast.top/https://github.com/Zephyruso/zashboard/archive/refs/heads/gh-pages.zip
external-controller: '[::]:9090'
secret: "821259"
profile:
  store-selected: true
  store-fake-ip: true
unified-delay: true
tcp-concurrent: true
global-client-fingerprint: random
geodata-mode: true
geodata-loader: standard
geo-auto-update: true
geo-update-interval: 24
geox-url:
  geoip: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip.dat"
  geosite: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geosite.dat"
  mmdb: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/country.mmdb"
  asn: "https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb"

dns:
  enable: true
  prefer-h3: false
  use-hosts: true
  use-system-hosts: true
  respect-rules: true
  listen: '[::]:53'
  ipv6: true
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter-mode: blacklist
  fake-ip-filter:
    - 'rule-set:fakeip-filter,private_direct,trackerslist,private,cn'
  default-nameserver:      #基础DNS服务器，必须先有它才能使用域名类型的DNS配置，因此必须为IP，此处使用阿里云DNS
    - tls://223.5.5.5
    - tls://223.6.6.6
  nameserver:         #在访问的国外网站没有匹配到任何域名规则，最终走了MATCH兜底规则时使用的DNS，为了确保不发生DNS泄漏和DNS污染，必须使用国外DNS
    - https://cloudflare-dns.com/dns-query
    - https://dns.google/dns-query
  proxy-server-nameserver:         #解析代理节点时使用的DNS，为了使下面的respect-rules生效必须设置，最好设置为国内DNS，否则在代理的第一步就可能因为连接不上国外DNS而解析不出代理节点的IP，最终倒在起点
    - https://dns.alidns.com/dns-query#h3=true
    - https://doh.pub/dns-query
  direct-nameserver:           #规则匹配到直连时使用的DNS，既然是可以直连的，当然要用国内DNS
    - https://dns.alidns.com/dns-query#h3=true
    - https://doh.pub/dns-query

sniffer:
  enable: true
  force-dns-mapping: true
  parse-pure-ip: true
  override-destination: false
  sniff:
    HTTP:
      ports: [80, 8080-8880]
      override-destination: true
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]
  force-domain:
    - +.v2ex.com
  skip-domain:
    - Mijia Cloud

tun:
  enable: true
  stack: system
  auto-route: true
  auto-detect-interface: true
  device: nikki
  mtu: 9000
  gso: true
  gso-max-size: 65536
  endpoint-independent-nat: false

proxies:
  - name: "\U0001F1ED\U0001F1F0HK_伪 |10.2MB/s|1%"
    type: trojan
    server: 1.2.3.4
    port: 443
    password: hkpassword
    skip-cert-verify: true
    sni: www.baidu.com
    udp: true

  - name: "\U0001F1FA\U0001F1F8US_伪 |8.9MB/s|2%"
    type: trojan
    server: 5.6.7.8
    port: 443
    password: uspassword
    skip-cert-verify: true
    sni: www.youtube.com
    udp: true

  - name: "\U0001F1F9\U0001F1FCJP_伪 |7.7MB/s|3%"
    type: trojan
    server: 9.10.11.12
    port: 443
    password: jppassword
    skip-cert-verify: true
    sni: www.google.co.jp
    udp: true

  - name: "\U0001F1F8\U0001F1ECSG_伪 |6.5MB/s|4%"
    type: trojan
    server: 13.14.15.16
    port: 443
    password: sgpassword
    skip-cert-verify: true
    sni: www.straitstimes.com
    udp: true

  - name: "\U0001F1F9\U0001F1FCTW_伪 |5.5MB/s|5%"
    type: trojan
    server: 17.18.19.20
    port: 443
    password: twpassword
    skip-cert-verify: true
    sni: www.ptt.cc
    udp: true

FallBack: &FallBack {type: fallback, url: 'https://gstatic.com/generate_204', interval: 300}
UrlTest: &UrlTest {type: url-test, url: 'https://gstatic.com/generate_204', interval: 300, include-all: true}
   
proxy-groups:
  - {name: 代理, <<: *FallBack, proxies: [香港, 台湾, 日本, 狮城, 美国, 其他]}
  - {name: 智能, <<: *FallBack, proxies: [美国, 台湾, 日本, 狮城, 其他, 香港]}
  - {name: 电报, <<: *FallBack, proxies: [狮城, 香港, 台湾, 日本, 美国, 其他]}
  - {name: 媒体, <<: *FallBack, proxies: [香港, 台湾, 日本, 狮城, 美国, 其他]}

  - {name: 香港, <<: *UrlTest, filter: "HK_"}
  - {name: 台湾, <<: *UrlTest, filter: "TW_"}
  - {name: 日本, <<: *UrlTest, filter: "JP_"}
  - {name: 狮城, <<: *UrlTest, filter: "SG_"}
  - {name: 美国, <<: *UrlTest, filter: "US_"}
  - {name: 其他, <<: *UrlTest, filter: "(?i)^(?!.*(?:HK_|TW_|JP_|SG_|US_)).*"}

rules:
  - SRC-IP-CIDR,10.0.0.10/32,DIRECT
  - RULE-SET,private_direct,DIRECT
  - RULE-SET,private_cursor,美国
  - RULE-SET,private_proxy,代理
  - RULE-SET,private,DIRECT
  - RULE-SET,trackerslist,DIRECT
  - RULE-SET,microsoft-cn,DIRECT
  - RULE-SET,apple-cn,DIRECT
  - RULE-SET,google-cn,DIRECT
  - RULE-SET,games-cn,DIRECT
  - RULE-SET,spotify,香港
  - RULE-SET,media,媒体
  - RULE-SET,games,代理
  - RULE-SET,ai,智能
  - RULE-SET,networktest,DIRECT
  - RULE-SET,proxy,代理
  - RULE-SET,cn,DIRECT
  - RULE-SET,telegramip,电报,no-resolve
  - RULE-SET,privateip,DIRECT,no-resolve
  - RULE-SET,cnip,DIRECT
  - MATCH,代理

rule-providers:
  private_direct:
    type: http
    behavior: classical
    format: text
    path: ./rules/private_direct.txt
    url: "https://raw.githubusercontent.com/2263075977/daili/refs/heads/main/mihomo/direct.txt"
    interval: 86400

  private_cursor:
    type: http
    behavior: classical
    format: text
    path: ./rules/private_cursor.txt
    url: "https://raw.githubusercontent.com/2263075977/daili/refs/heads/main/mihomo/cursor.txt"
    interval: 86400

  private_proxy:
    type: http
    behavior: classical
    format: text
    path: ./rules/private_proxy.txt
    url: "https://raw.githubusercontent.com/2263075977/daili/refs/heads/main/mihomo/proxy.txt"
    interval: 86400

  fakeip-filter:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/fakeip-filter.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/fakeip-filter.mrs"
    interval: 86400

  private:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/private.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/private.mrs"
    interval: 86400

  trackerslist:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/trackerslist.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/trackerslist.mrs"
    interval: 86400

  microsoft-cn:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/microsoft-cn.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/microsoft-cn.mrs"
    interval: 86400

  apple-cn:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/apple-cn.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/apple-cn.mrs"
    interval: 86400

  google-cn:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/google-cn.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/google-cn.mrs"
    interval: 86400

  games-cn:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/games-cn.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/games-cn.mrs"
    interval: 86400

  spotify:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/spotify.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/spotify.mrs"
    interval: 86400

  media:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/media.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/media.mrs"
    interval: 86400

  games:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/games.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/games.mrs"
    interval: 86400

  ai:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/ai.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/ai.mrs"
    interval: 86400

  networktest:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/networktest.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/networktest.mrs"
    interval: 86400

  proxy:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/proxy.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/proxy.mrs"
    interval: 86400

  cn:
    type: http
    behavior: domain
    format: mrs
    path: ./rules/cn.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/cn.mrs"
    interval: 86400

  telegramip:
    type: http
    behavior: ipcidr
    format: mrs
    path: ./rules/telegramip.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/telegramip.mrs"
    interval: 86400

  privateip:
    type: http
    behavior: ipcidr
    format: mrs
    path: ./rules/privateip.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/privateip.mrs"
    interval: 86400

  cnip:
    type: http
    behavior: ipcidr
    format: mrs
    path: ./rules/cnip.mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/cnip.mrs"
    interval: 86400

